
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#graphBox{
  position: absolute;
  /*background-color: #EEE;*/
  /*width: 50%;*/
  width: 100%;
  height: 100%;
}

#blockBox{
  height: 0;
  width: 0;
}

.block{
  background-color: white;
  /*position: absolute;*/
  /*overflow: hidden;*/
}

.block iframe{
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  padding: 0;
  border: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #graphBox{
    width: 100%;
  }
}

.dot rect {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 0.5px;
}

.dot .dragging rect {
  fill: red;
  stroke: brown;
}

#junkIframes{
  display: none;
}

.link {
  fill: none;
  stroke: darkred;
  /*stroke: #673f45;*/
  stroke-width: 2.5px;
}

.input circle{
  fill: white;
}

.input rect{
  fill: black;
  stroke-width: 0;
}

/*.output circle{
  shape-rendering: geometricPrecision;
  stroke: black;
  stroke-width:0.1px;
}
*/